.form {
    :global .ant-form-item-label {
      font-weight: bold;
    }
  
    :global .form-action {
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 0px;
    }
  
    :global .ant-form-item-row {
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
    }
  
    :global .ant-form-item-label {
      text-align: start;
      white-space: normal;
  
      label {
        display: flex;
        height: auto;
  
        &:after {
          display: none;
        }
      }
    }
  
    :global .ant-form-item-control {
      flex-grow: 0;
    }
  
    :global .form__question {
      gap: 0px !important;
    }
  
    :global .form-content {
      display: flex;
      flex-direction: column;
  
      .field-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  
    :global .edit-field {
      display: flex;
      gap: 10px;
  
      label {
        font-weight: 700;
      }
  
      p {
        padding: 0 5px;
        margin-bottom: 0px !important;
        min-width: 70px;
        background: linear-gradient(to right, #f8f1feb0, #d0e0ff82);
        border-radius: 8px;
      }
  
      .assessment-field {
        display: flex;
        flex-direction: column;
        gap: 5px;
  
        .assessment-item {
          display: flex;
          gap: 10px;
        }
      }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .field {
    width: 100%;
    margin-bottom: 0;
    display: flex;
  
    &._hidden {
      display: none;
    }
  }}}